@page
@model WebApp1.Pages.IntroModel
@{
    ViewData["Title"] = "Intro page";
}

<h3>Iricher Supera</h3>
<form>
    <label asp-for="Number1"></label>
    <input asp-for="Number1" /><br />
    <label asp-for="Number2"></label>
    <input asp-for="Number2" /><br />
    <input type="submit" value="Submit" />
</form>

@section NSection
{
    <div class="container">
            <p>*** Added a new section to the _layout.cshtml ***</p>
    </div>
}
